<!--Oleksandr Zakirov 1802341-->
<ion-header>
    <ion-toolbar color="primary">    
       <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="ios-power"></ion-icon>
         </ion-button>
        </ion-buttons>
       <ion-title>       Contacts      </ion-title>
    </ion-toolbar> 

  </ion-header>
    <ion-content>
      <ion-card-content>
        <br>
        <h2> You can contact me on : <br> </h2> <br>
          <!--Linked in button-->
       
          <ion-button href="https://www.linkedin.com/in/oleksandrzakirov" class="linkedin" >
              <ion-icon slot="icon-only" name="logo-linkedin" ></ion-icon> 
          </ion-button>
            
           or 
          <!--Email in button-->
          <ion-button href="mailto:oleksandr_zakirov@hotmail.com"class="email" >
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button><br> 
          <br>
          <!--Phone number-->
        <ion-button class="callbutton">
          <ion-icon slot="icon-only" name="call" ></ion-icon> &nbsp; 0 414 919 872
         </ion-button>

        <br> <br> <br>

        <p>Feel free to visit my git :</p>
        <ion-button href="https://github.com/oleksandr1234567"class="git">
            <ion-icon slot="icon-only" name="logo-github" ></ion-icon> &nbsp; oleksandr1234567
           </ion-button>

           <br> <br> <br>

           <p>Download my CV :</p>
           <ion-button href="https://drive.google.com/open?id=1Ku5f_6B4rNXjH1jbOi9_mXsvwCnDoWZk" class="cv">
               <ion-icon slot="icon-only" name="document" ></ion-icon> &nbsp; Resumé
              </ion-button>
           <br> <br> <br>

           <p>You can find me around : </p>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15855.452665112589!2d24.802976996410532!3d60.21496284654582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df67f5517aac9%3A0xa00b553b98e2b00!2zTGVwcMOkdmFhcmEsIEZpbmzDom5kaWE!5e0!3m2!1spt-PT!2sbe!4v1574348008192!5m2!1spt-PT!2sbe" class="mylocation" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
     
     
       
      </ion-card-content>
    </ion-content>
  