//Oleksandr Zakirov 1802341

.linkedin{
    margin-left: 5%;
    width: 40%;
    max-width:360px;
    --background:rgb(10, 115, 201); 
}

.email{
    margin-right: 1px;
 
    width: 40%;
    max-width:360px;
    --background:rgb(10, 156, 201); 
}

.callbutton{
    margin-left: 5%;
    margin-right: 5%;
    width: 88%;
    max-width:750px;
    --background:rgb(42, 201, 10); 
}

.git{
    margin-left: 5%;
    margin-right: 5%;
    width: 88%;
    max-width:750px;
    --background: black; 
    color: white;
}

.cv{
    margin-left: 5%;
    margin-right: 5%;
    width: 88%;
    max-width:750px;
    --background: red; 
    color: white;
}

.mylocation{
    margin-left: 5%;
    margin-right: 5%;
    width: 88%;
    height: 600px;
    max-width:750px;
    
    
}