// Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341

  .larger {
    font-size: 38px;
    text-align: center;
  }

  .medium {
    font-size: 16px;
    text-align: center;
  }
  .smaller {
    font-size: 12px;
  }
