<!--Oleksandr Zakirov 1802341-->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myperson" >git remote add originecho "# GuardianLock" >> README.md
      <ion-icon name="ios-lock"></ion-icon>
      <ion-label>Passwords</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" >
      <ion-icon name="ios-information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" >
        <ion-icon name="contact"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>
      
</ion-tab-bar>

</ion-tabs>
