<!--Oleksandr Zakirov 1802341-->

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="end">
          <ion-button (click)="logout()">
            <ion-icon slot="icon-only" name="ios-power"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title >      My passwords    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-list *ngFor="let item of todos"><!--Fetch from database-->
    <p *ngIf="!todos || todos.length == 0" >&nbsp; You don't have any passwords saved yet.</p> <!--Message if database is empty-->
    
    <ion-item-sliding   >
      <ion-item lines="inset" button [routerLink]="['/details', item.id]"><!--Rows-->
        <ion-label class="larger">
          {{ item.title }} <!--TITLE-->
              <ion-label class="smaller" color="primary">
                   {{ item.password }}<!--Password-->
              <p class="smaller">{{ item.createdAt | date:'short' }}</p>
            </ion-label>
        </ion-label>
       <!--Delete button-->
        <ion-buttons slot="end">
          <ion-button (click)="remove(item)">
            <ion-icon color="danger" slot="icon-only" name="ios-trash"> </ion-icon>
          </ion-button>
        </ion-buttons>    
      </ion-item>    
    </ion-item-sliding>    
   
  </ion-list>
  <!--Add new registry button-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
</ion-content>

