// Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341


.fake-skeleton {
    width: 60%;
}
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }

  .larger {
    font-size: 18px;
  }

  .medium {
    font-size: 15px;
  }
  .smaller {
    font-size: 12px;
  }
