<!-- Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->

<ion-header>

  <ion-toolbar color="primary">    
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>

    <ion-title>
      Home
      
    </ion-title>
  </ion-toolbar>
  
 

</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/pizza.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">{{userEmail}}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center"><a (click)="logout()" class="smaller">Not you?</a></ion-card-subtitle>
        <ion-card-title class="ion-text-center">Welcome back to <br> uFoodie</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <p>Now that you're here, we can continue to store your favourite tracks and help you build the best playlist ever!</p>
      </ion-card-content>
    </ion-card>









</ion-content>
