<!--// Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->

<ion-header>

    <ion-toolbar color="primary">    
  <ion-buttons slot="end">
    <ion-button (click)="logout()">
      <ion-icon slot="icon-only" name="ios-power"></ion-icon>
    </ion-button>
  </ion-buttons>
  
      <ion-title>
        About
        
      </ion-title>
    </ion-toolbar>
    


  
  </ion-header>
  
  <ion-content>
      <ion-card class="welcome-card">
        <img src="/assets/home2.gif" alt="" />
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center">{{userEmail}}</ion-card-subtitle>
          <ion-card-subtitle class="ion-text-center"><a (click)="logout()" class="smaller">Not you?</a></ion-card-subtitle>
          <ion-card-title class="ion-text-center">uMusic</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <p>We are a premium song list service helping you to store favourite tracks and help you build the best playlist ever!<br><br>
          Your list is stored personally and you can easily add your new songs, with the date added and a rating<br><br>
        Whether you would like to store your ratings in a mood or standard rating... That is totally up to you!<br><br>
      </p>



      
        </ion-card-content>
      </ion-card>
  
      <p id="demo"></p>

      <div class="wrapper">
        <div class="pie spinner"></div>
        <div class="pie filler"></div>
        <div class="mask"></div>
      </div>


  <ion-footer>
<ion-row class="ion-justify-content-center">
    <h1>{{ time | async }}</h1>
</ion-row>

      <ion-button *ngIf="state === 'stop'" expand="block" color="primary" (click)="startTimer(startDuration)">START</ion-button>  
    <ion-button *ngIf="state === 'start'" expand="block" color="danger" (click)="stopTimer()">STOP</ion-button>
  </ion-footer>
  
  
  
  
  
  
  </ion-content>
  