<!--Oleksandr Zakirov 1802341-->
<ion-header>
    <ion-toolbar color="primary">    
       <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="ios-power"></ion-icon>
         </ion-button>
        </ion-buttons>
       <ion-title>       About      </ion-title>
    </ion-toolbar> 

  </ion-header>
    <ion-content>
      <ion-card class="welcome-card">
        <img src="https://lwchurch.org.uk/Images/content/2417/871231.jpg" alt="" />
        <ion-card-header>
          <ion-card-title class="ion-text-center">GuardiaLock</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">
          <p>GuardiaLock is an aspiring password saving app. This was app was born as school project
            for a bachelor degree, but it is being upgraded from time to time. <br>

            The developer of this app is a Business Information Technology student, who aspires to be
            a developer and this is one of his projects. <br><br><br>

            This app has the following features:<br></p>  
            <ul class="ion-text-left">
              <li> Functional Login, Register and Logout pages </li>
              <li> A welcome message in the Home page.</li>
              <li> A Logo.</li>
              <li> A tab icon for the browser view.</li>
              <li> A database connection.</li>
              <li> A list of passwords that the user can create.</li>
              <li> Contacts and About page.</li>
            </ul>
          

        </ion-card-content>
      </ion-card>
  
  </ion-content>
  