// Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341

/* Set variables for all modes */
:root {
  /* Set the background of the entire app */
  --ion-background-color: #000000;
  --ion-color-primary: #0a60c4;
  --ion-color-primary-rgb: 235, 75, 88;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2068bb;
  --ion-color-primary-tint: #6d76ad;
  --ion-color-secondary: #0f2142;
  --ion-color-danger: #f04141;
  /* Set the font family of the entire app */
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}


/* Set text color of the entire app for iOS only */
.ios {
  --ion-text-color: rgb(255, 255, 255);
}

/* Set text color of the entire app for Material Design only */
.md {
  --ion-text-color: rgb(255, 255, 255);
}

