<!-- Kristofer McCormick 1803203 & Oleksandr Zakirov 1802341-->
<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-button expand="block" routerLink="/tabs/tab1" routerDirection="forward">
    Details
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
  <ion-button expand="block" class="submit-btn" (click)="logout()">

        <ion-title>Log out</ion-title>

    </ion-button>
  
</ion-content>

 